@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
   background-color:  rgb(29, 188, 194);
    font-family:  sans-serif;
    font-size: 18px;
    overflow: hidden;

}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30%;
    left: 35%;
 
    
}
.img-fondo1{
    position: absolute;
    top: -40%;
    left: -30%;

}
.img-fondo2{
position: absolute;
top: 40%;
right: -30%;
}
.card{
     width: 325px;
    height: 360px;
    background: white;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}
.img-portada img{
    width: 100%;
    object-fit: cover;
    flex-wrap: wrap;
}
.img-profile{
    display: flex;
    justify-content: center;
    align-items:center
}
.img-profile img{
    border-radius: 50px;
    border: 5px solid white;
    display: flex;
    top: -50px;
    position: relative;
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
    top: -40px;
    position: relative;
    gap: 10px;
    color:rgb(77, 74, 74)
}
.name span{
    color: darkgrey;
}
.city{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -30px;
    color: darkgrey;
    font-size: 15px;
}
.interaction{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 20px;
    color:rgb(77, 74, 74);
    
}
.description-interac{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 20px;;
    font-size: 12px;
    color: darkgrey;
}